.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
}

html .blank-page .content.app-content {
    overflow: hidden !important;
    overflow-x: hidden;
    padding: calc(7rem + 4.45rem + 1.3rem) 2rem 0 !important;
    transition: none;
} 
@media screen and (max-width: 600px) {
    html .blank-page .content.app-content {
        overflow: hidden !important;
        overflow-x: hidden;
        padding: calc(3rem + 4.45rem + 1.3rem) 2rem 0 !important;
        transition: none;
    } 
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 15px 0 15px 0px !important;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}
.card .card-developer-meetup {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 25px 0 15px 0px !important;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}