#loading{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 100%; height: 100vh; background: white;
	 z-index: 99999999999;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
}

#loading .player{
	width: 400px; height: 400px; margin: auto; position: absolute; left: 0; right: 0; top: 0;
  bottom: 0; z-index: 9999999999999999;
}
.cont-logo-desktop{
	width: 220px;
}
.for-logo-desktop li{
	position: absolute;
	background: #fff;
	border-top-right-radius: 50px;
	left: 0px;
	top: 0px;
	padding: 16.5px 40px  ;
}
 .for-logo-desktop li a{
	display: block;
	
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background: rgb(21,23,61)!important;
}
.select2-container--classic .select2-results__option[aria-selected="true"], .select2-container--default .select2-results__option[aria-selected="true"]{
	background: rgb(21,23,61)!important;
}
.horizontal-menu .navbar.header-navbar .navbar-container.container-for-logos{
	 border-radius: 0px;
	padding: 1.8rem 2rem;
	background: rgb(21,23,61);
	 
	
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.26);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.26);
}
.horizontal-menu .horizontal-menu-wrapper{
	top: 98px;
}
.horizontal-layout.navbar-floating:not(.blank-page) .app-content{
	padding: calc(4.5rem + 4.45rem* 2 + 1.3rem) 2rem 0;
}
.header-navbar .navbar-container ul.navbar-nav li i.ficon, .header-navbar .navbar-container ul.navbar-nav li svg.ficon{
	color: #fff;
}
.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation>li.active>a{
	background: rgb(21,23,61);
	 
	border: 1px solid rgb(21,23,61)!important;
}
.file-manager-application .sidebar-file-manager .sidebar-inner .sidebar-list .active{
	border-color: rgb(21,23,61);
    color: rgb(21,23,61);
}
.dropdown-item.active, .dropdown-item:active{
	background: rgb(21,23,61);
}
.dropdown-item:focus, .dropdown-item:hover{
	background: rgba(6,65,142,.3);
	color: rgb(21,23,61);
}
.file-manager-application .content-area-wrapper .file-manager-main-content .file-manager-content-body .view-container .file-manager-item.selected{
	border-color: rgb(21,23,61);
}
.custom-control-input:checked~.custom-control-label::before{
	border-color: rgb(21,23,61);
    background-color: rgb(21,23,61);
}
.header-navbar .navbar-container ul.navbar-nav li i.ficon:hover, .header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover{
	color: #fff;
}
.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation>li >a{
	border-radius: 5px;
	border: 1px solid rgb(21,23,61)!important;
}
.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation>li:hover>a{
	border: 1px solid rgb(21,23,61)!important;
}
html .pace .pace-progress{
	background: rgb(21,23,61)!important;
	background: linear-gradient(90deg, rgba(6,65,142,1) 0%, rgba(39,103,185,1) 100%)!important;
 
}
.for-login-logo{
	position: relative;
}
.auth-wrapper .auth-bg{
	background-image: url(../images/persib-assets/bg-assets.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}
.for-login-logo{
	margin-top: 10vh;
}
.input-group:not(.bootstrap-touchspin):focus-within .form-control, .input-group:not(.bootstrap-touchspin):focus-within .input-group-text{
	border-color: #003986;
}
.form-control:focus{
	border-color: #003986;
}
.divider .divider-text.text-big{
	font-size: 18px;
}
.content-video{
	padding-left: 0px!important;
	padding-right: 0px!important;
	background-color: #000;
}
.left-content-video iframe{
	width: 100%;
	height: auto;
	border-width: 0px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }
  .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
#myVideo{
	width: 100%;
}
.file-logo-wrapper{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.nav-tabs .nav-link.active{
	border-color: rgb(21,23,61) !important;
}
.nav-tabs .nav-link:after{
	background: rgb(21,23,61) !important;
}
.nav-tabs .nav-link.active{
	color: rgb(21,23,61) !important;;
}
.content-wrapper .file-name  {
	text-align: center;
}
.content-wrapper .file-name  span.name{
	float: left;
    margin-top: 5px;
}
.content-wrapper .file-name  span.content-img-shared{
display: inline-block;
width: 200px;
overflow: hidden;
}
.content-wrapper .file-name .content-img-shared img{
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 100%;
	object-fit: cover;
	position: relative;
	margin-left: -20px;
}
.dropzone {
	border-radius: 10px;
	border: 2px dashed rgb(21,23,61);
}
.dropzone .dz-message .dz-button{
	position: relative;
	font-size: 20px ;
	text-align: center;
	margin: auto;
	top: 20px;
	font-weight: 600;
}
.dropzone .dz-message .dz-button:before{
	content: '';
	position: absolute;
	width: 40px;
	left: 0;
	background-image: url(../images/icons/file-icons/onedrive.png);
	background-repeat: no-repeat;
	background-size: contain;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 100px;

}
.dz-drag-hover{
	background: rgba(0, 57, 134, .5);
}
.content-wrapper .file-name .content-img-shared img:nth-child(1){
	margin-left: 0px;
}
.target-progress{
	position: fixed;
	width: 30%;
	border-radius: 10px;
	height: auto;
	right: 10px;
	background: #fff;
	padding: 20px 20px 0px 20px;
	z-index: 111111;
	bottom: 10px;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
}
.target-progress a.minus{
	position: absolute;
	right: 40px;
	top: 20px;
	cursor: pointer;
	z-index: 1111;
}
.target-progress .of-scroll{
	height: auto;
	max-height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-y: scroll;
	box-sizing: border-box;
	width: 100%;
}
.target-progress a.closed{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1111;
}
.progress-bar{
	background-color:rgb(21,23,61) !important ;
}
.progress-wrapper{
	width: 85%;
	float: left;
	
}
.float-right{
	float: right;
}
.content-of-bar{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.content-of-bar:nth-last-child(1){
	border-bottom: 0px solid rgba(0,0,0,0.1);
}
.caption-title{
	margin-bottom: 10px;
	font-weight: 600;
}
.caption-title-btm{
	margin-top: 10px;
	font-weight: 600;
}
.img-wrap{
	width: 15%;
	float: left;
}
.img-wrap img{
	width: 70px;
	height: 70px;
	border-radius: 5px;
 
	object-fit: cover;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 0px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -2px;
    position: absolute;
    top: 10%;
    width: 50px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent #888 transparent;
    border-width: 0 0px;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b{
	background-size: 35px!important;
}
@media screen and (max-width: 900px) {
	.for-logo-desktop li{
		width: 50%;
		border-radius: 0px;
		left: 22.2%;
		right: 0;
		padding: 1rem 15px;
		text-align: center;
		 
	}
	.auth-wrapper .auth-bg{
		background-size: 100%;
			}
	.for-logo-desktop li > a > img{
		width: 90%;
	}
  }
  @media screen and (max-width: 600px) {

	.horizontal-layout .header-navbar{
		background: rgb(21,23,61)!important;
	 
	}
  }